.kontakti{
    background-color: #4090c4
}

.title-box{
    width: 15%;
    height: 20%;
    background-color: #1f5590;
    transform: skewX(15deg);
    font-size: 200%;
    text-align: center;
    font-size-adjust: inherit;
    margin-top: 12%;
    position: relative;
    /*display: inline-block;*/
    /* margin-left: 20%; */
}

.title-box p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size-adjust: inherit;
    margin-top: 7%;
    transform: skewX(-15deg);
}

.kontaktInfo{
    width: 60%;
    color: #69beef;
    /*display: block;
    position: center;
    height: 50%;
    margin-left: 20.67%; */
}

.bestInfo{
    padding: 2%;
    background-color: #69beef;
    font-size: 145%;
    text-align: left;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*position: relative;
    display: block;
    width: 52%;
    height: 30vh; */
}

.presidentInfo{
    /*position: relative;
    display: block;*/
    margin-top: 1%;
    padding: 2%;
    background-color: #69beef;
    font-size:145%;
    /*width: 52%;
    height: 23.7vh;*/
    text-align: left;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span{
    padding: 2.5%;
    margin: 1%
}

.maps{
    /*margin: 0% 0% 0% 53%;*/
    background-color: #69beef;
    height: 55vh;
}
/*
@media (min-width: 768px) {
    .bestInfo, .presidentInfo {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .bestInfo, .presidentInfo {
        width: 970px !important;
    }
}
@media (min-width: 1200px) {
    .bestInfo, .presidentInfo {
        width: 1170px !important;
    }
}*/             