body {
    background-color: #3B87B2;
    font-family: 'Raleway', sans-serif;
}


/* desktop version */

@media only screen and (min-width:768px) {
    .rombTimeline {
        background-color: #A7CE54;
            width: 20vw;
            height: 22vh;
            overflow: hidden;
            transform: skew(30deg, 0deg);
            color: white;
            font-size: 12px;
    }
    
    .rombTimeline img {
        transform: skew(-30deg, 0deg);
        position: relative;
        height: 100%;
        width: 130%;
        left: -15%;
        
    }
    
    .romb h1 {
        margin: 15% 0% 10% 20%;
        transform: skewX(20deg);
    }
    
    .rombYears {
        background-color: #A7CE54;
            width: 20vw;
            height: 10vh;
            transform: skewX(-30deg);
            color: white;
            font-size: 12px;
    }
    
    .rombYears h1 {
        transform: skewX(30deg);
    }
    
    .question {
        width: 40wv;
        background-color: #1A3855;
        color: white;
        font-size: 64px;
        padding: 1%;
    }
    
    #what{
        transform: skew(-30deg);
    }
    
    #what h1 {
        transform: skew(30deg);
    }
    
    .romb {
        background-color: #A7CE54;
        width: 25vw;
        height: 22vh;
        transform: skewX(-30deg);
        color: white;
        font-size: 12px;
    }
    
    .odgovor {
        width: 45vw;
        height: 100%;
        background-color: #A7CE54;
        color: white;
        transform: skew(-30deg);
    }
    
    .odgovor p {
        text-align: center;
        font-size: 3vh;
        padding: 5%;
        transform: skew(30deg);
        
    
    }
    
    #why {
        transform: skew(30deg);
    }
    
    #why h1{
        transform: skew(-30deg);
    }
    #content-mobile {
        display: none;
    }
    #content-desktop {
        display: block;
        margin-top: 10%;
    }
    .row {
        margin: auto;
        width: 90%;
    }
    
}


/* mobile version */

@media only screen and (max-width:768px) {
    #content-mobile {
        display: block;
        margin-top: 10%;
    }
    #content-desktop {
        display: none;
    }
    
    .jumbotron {
        background-color:  #A7CE54;
        color: white;
    }
    .img-fluid {
        max-width: 100%;
    }
    .card {
        background-color: #A7CE54;
        margin: 2.5% 0%;
        outline: none;
        border: none;
    }
    .card .btn-lg {
        color: white;
        text-decoration: none;
        outline: none;
        border: none;
    }
    .card-body {
        color: white;
        background-color: #A7CE54;
        padding: 0% 5% 5% 5%;
        border: none;
    }
   
}
