/* desktop version */
p h1 h2 h3 h4 h5 h6{
    color: black;
}
@media only screen and (min-width:768px) {
    #content-mobile {
        display: none;
    }
    #content-desktop {
        display: block;
        margin-top: 10%;
    }
    .jumbotron{
        margin: 0 auto;
    }
    .img-fluid {
        max-width: 100%;
    }
    .romb {
        background-color: transparent;
        width: 25vw;
        height: 22vh;
        /* transform: skewX(-25deg); */
        color: black;
        font-size: 12px;
        margin: 10% auto;
    }
    .romb img {
        margin: 5% 0% 10% 8%;
        width: 80%;
        /* transform: skewX(15deg); */
    }
    .romb p {
        font-size: 0.9vw;/* transform: skewX(15deg); */
    }

    .categories  {
        width: 20vw;
        background-color: #ED9C26;
        color: black;
    }
    body {
        background-color: #EFA324;
        font-family: 'Raleway', sans-serif;
    }
    .img-fluid {
        max-width: 100%;
    }
    .rounds{
        background-color: black;
    }
    .rounds img{
        width:80%;
        margin: 10% 0% 10% 8%;
    }
    .line {
        width: 1vw;
        background-color: black;
        height: 35vh;
    }
    .descriptions
    {
        display: inline-block;
        color: black;
    }
    #lead {
        font-size: 15.5px;
        text-align: center;
    }
}


/* mobile version */

@media only screen and (max-width:768px) {
    #content-mobile {
        display: block;
        margin-top: 10%;
    }
    #content-desktop {
        display: none;
    }
    body {
        background-color: #EFA324;
        font-family: 'Raleway', sans-serif;
    }
    .jumbotron {
        background-color: transparent;
        color: black;
    }
    .img-fluid {
        max-width: 100%;
    }
    .card {
        background-color: #D88A22;
        margin: 2.5% 0%;
        outline: none;
        border: none;
    }
    .lead{
        text-align: center;
    }
    .card .btn-lg {
        color: black;
        text-decoration: none;
        outline: none;
        border: none;
    }
    .card-body {
        color: black;
        background-color: #D18621;
        padding: 0% 5% 5% 5%;
        border: none;
    }
    .rounds {
        text-align: center;
        background-color: black;
        margin-top: 30%;
    }
    .rounds-text {
        color: black;
        margin: 2.5% 2%;
    }
}


/*Best Courses Romb*/