/* desktop version */

@media only screen and (min-width:768px) {
    #content-mobile {
        display: none;
    }
    #content-desktop {
        display: block;
    }
    .img-fluid {
        max-width: 100%;
    }
    .romb {
        background-color: #D88A22;
        width: 20vw;
        height: 17vh;
        /* transform: skewX(-25deg); */
        color: white;
        font-size: 12px;
    }
    .romb img {
        margin: 5% 0% 10% 8%;
        width: 80%;
        /* transform: skewX(15deg); */
    }
    .romb p {
        font-size: 0.9vw;/* transform: skewX(15deg); */
    }

    .categories  {
        width: 20vw;
        background-color: #ED9C26;
        color: white;
    }
    body {
        background-color: #EFA324;
        font-family: 'Raleway', sans-serif;
    }
    .img-fluid {
        max-width: 100%;
    }
    .rounds{
        background-color: white;
    }
    .rounds img{
        width:80%;
        margin: 10% 0% 10% 8%;
    }
    .line {
        width: 1vw;
        background-color: white;
        height: 35vh;
    }
    .descriptions
    {
        display: inline-block;
        color: white;
    }
    #lead {
        font-size: 12.5px;
    }
}


/* mobile version */

@media only screen and (max-width:768px) {
    #content-mobile {
        display: block;
    }
    #content-desktop {
        display: none;
    }
    body {
        background-color: #EFA324;
        font-family: 'Raleway', sans-serif;
    }
    .jumbotron {
        background-color: #D88A22;
        color: white;
    }
    .img-fluid {
        max-width: 100%;
    }
    .card {
        background-color: #D88A22;
        margin: 2.5% 0%;
        outline: none;
        border: none;
    }
    .card .btn-lg {
        color: white;
        text-decoration: none;
        outline: none;
        border: none;
    }
    .card-body {
        color: white;
        background-color: #D18621;
        padding: 0% 5% 5% 5%;
        border: none;
    }
    .rounds {
        text-align: center;
        background-color: white;
    }
    .rounds-text {
        color: white;
        margin: 2.5% 2%;
    }
}


/*Best Courses Romb*/