body {
    background-color: #3B87B2;
    font-family: 'Googleov', sans-serif;
}


@font-face {
    font-family: Googleov;
    src: url(font/ProductSans-Thin.woff);
}

.container#main {
    color: white;
    font-size: 22px;
    width: 70%;
    margin: auto;
    padding-top: 150px;
}
div.container#main{
    height: 550px;
}
article {
    float: left;
    width: 60%;
}

aside {
    width: 40%;
}

section {
    background-color: #6abdef;
    padding: 2px 20px;
    margin: 0px 20px 0 10px;
}

section:nth-child(2) {
    background-color: #6abdef;
    padding: 2px 20px;
    margin: 10px 20px 0 10px;
}

body {
    height: 100%;
    background-color: #4090c4;
}

#googleMap {
    margin: 0px 0px 20px 0px;
    width: 100%;
    height: 398px;
}

#kontakt {
    background-color: #1f5590;
    width: 200px;
    height: 38px;
    font-style: italic;
    text-align: center;
    padding: 7px 0;
    transform: skew(20deg);
}

#kontakt h3 {
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 1240px) {
    aside {
        width: 100%;
        padding-top: 40px;
    }
    article {
        width: 100%;
        margin: 0;
    }
    section, section:nth-child(2) {
        margin-right: 0px;
    }
    .container {
        width: 95%;
    }
    div.container#main{
        height: 980px;
    }
}