html {
    background-color: #f5a37f;
}

body {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

/* TOP LOGO */

.logoTop {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 12px;
    background-color: #F26C2A;
    max-width: 22%;
    height: auto;
    transform: skew(-20deg);
    display: block;
}

.logoTop img {
    height: 90px;
    width: 75%;
    padding: 17px;
    transform: skewX(20deg);
    margin-left: 30px;
    display:block;
}

.container {
    width: 50%;
    margin: auto;
}

/*.container h1 {
    transform: skewX(20deg);
}*/

/* What ?*/

#what-header {
    position: relative;
    left: 14px;
    top: 21px;
    background-color: #E56329;
    transform: skewX(-20deg);
    width: 200px;
    margin-top: 100px;
}

#what-header h1 {
    transform: skewX(20deg);
    font-size: 32px;
    font-weight: bold;
}

#what-content {
    background-color: #E56329;
    /* transform: skewX(-20deg); */
    width: 100%;
    font-size: 18px;
  
    box-sizing: border-box;
}

/* WHERE */

#where-header {
    position: relative;
    top: -21px;
    left: 489px;
    background-color: #E56329;
    transform: skewX(20deg);
    width: 200px;
}

#where-header h1 {
    transform: skewX(-20deg);
    font-size: 32px;
    font-weight: bold;
}

#where-content {
    background-color: #E56329;
    width: 104.5%;
    font-size: 18px;
    position: relative;
    top: -42px;
    left: -2px;
}

/* WHO */

#who-header {
    position: relative;
    background-color: #E56329;
    transform: skewX(20deg);
    width: 200px;
    top: -63px;
    left: 12px;
}

#who-content {
    position: relative;
    top: -84px;
    left: 26px;
    width: 100.8%;
    font-size: 18px;
}

#who-header h1 {
    transform: skewX(-20deg);
    font-size: 32px;
    font-weight: bold;
}

#what-content, #where-content, #who-content {
    text-align: center;
    font-size: 21px;
}

.headline {
    color: white;
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 20px 0 20px 0;
    text-align: center;
}

.headline h1 {
    font-weight: bold;
    font-size: 46px;
}

section article p {
    background-color: #F26C2A;
    padding: 20px;
    color: white;
}

section article div h1 {
    color: white;
    margin: 0px;
    padding: 20px 0 20px 0;
    text-align: center;
}

#predavanja {
    /* background-color: #e8987c;
    width: 600px;
    height: 250px;
    transform: perspective(10px) rotateX(-1deg);
    color: white;
    text-align: center; */
    background-color: #e8987c;
    width: 400px;
    height: 250px;
    color: white;
    text-align: center;
    /* transform: skew(-20deg); */
    margin: 0;
    position: relative;
}

#img1 {
    width: 100%;
    height: 250px;
    border: 5px solid #E56329;
}

#row2 {
    background-color: #e8987c;
    width: 400px;
    height: 250px;
    color: white;
    text-align: center;
    /* transform: skew(-20deg); */
}

#img2 {
    width: 100%;
    height: 250px;
    border: 5px solid #E56329;
}

table {
    transform: skew(-20deg);
    margin-bottom: 100px;
    table-layout: fixed;
    width: 70%;
    margin-left: 15%;
}

table h1 {
    margin-right: 10px;
    font-weight: bold;
    transform: skewX(20deg);
}

table p {
    padding: 0px 30px;
    transform: skewX(20deg);
    font-size: 18px;
}

@media only screen and (max-width: 1330px) {
    .container {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .logoTop {
        width: 340px;
        margin: auto auto 60px auto;
        min-width: 280px;
    }
    .logoTop img {}
    #what-header, #what-header h1, #what-content, #where-content, #where-content h1, #where-header, #where-header h1, #who-header, #who-header h1, #who-content, .container table, .container h1 {
        left: 0;
        transform: skewX(0deg);
        top: 0;
    }
    #where-content, #what-content, #who-content {
        margin: auto;
        width: 90%;
    }
    #what-header, #where-header, #who-header {
        margin: 30px auto auto auto;
    }
    .headline img {
        width: 100%;
    }
}

@media only screen and (max-width: 740px) {
    #where-content, #what-content, #who-content {
        margin: auto;
        width: 100%;
    }
}

@media only screen and (min-width: 1351px) {
    .container {
        width: 675px;
    }
}
/*
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {


    table, thead, tbody, th, td, tr {
        display: block;
        transform: skew(0deg);
    }

    tr {
        border: 1px solid #ccc;
    }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}*/