body {
    margin: 0px;
    padding: 0px;
    background-color: #f5a37f;
}

/* TOP LOGO */

.logoTop {
    margin-left: 10.5%;
    position: relative;
    top: 6px;
    background-color: #F26C2A;
    width: 18%;
    transform: skew(-20deg);
}

.logoTop img {
    height: 90px;
    width: 75%;
    padding: 17px;
    transform: skewX(20deg);
    margin-left: 12.5%;
}

.container {
    width: 50%;
    height: auto;
    margin: auto;
}

.container h1 {
    transform: skewX(20deg);
}

/* What ?*/

#what-header {
    position: relative;
    left: 13.5%;
    background-color: #E56329;
    transform: skewX(20deg);
    width: 31%;
    margin-top: 10%;
}

#what-header h1 {
    transform: skewX(-20deg);
    font-size: 32px;
    font-weight: bold;
}

#what-content {
    background-color: #E56329;
    transform: skewX(-20deg);
    font-size: 18px;
    margin-left: 43px;
}

/* WHERE */

#where-header {
    position: relative;
    top: -16px;
    left: 62.2%;
    background-color: #E56329;
    transform: skewX(20deg);
    width: 31%;
}

#where-header h1 {
    transform: skewX(-20deg);
    font-size: 32px;
    font-weight: bold;
}

#where-content {
    background-color: #E56329;
    transform: skewX(-20deg);
    width: 90%;
    font-size: 18px;
    position: relative;
    top: -16px;
    left: 1.5%;
}

/* WHO */

#who-header {
    position: relative;
    left: 0;
    background-color: #E56329;
    transform: skewX(20deg);
    width: 31%;
    top: -32px;
}

#who-content {
    position: relative;
    transform: skewX(-20deg);
    top: -32px;
    left: 0.1%;
    width: 100.8%;
    font-size: 18px;
}

#who-header h1 {
    transform: skewX(-20deg);
    font-size: 32px;
    font-weight: bold;
}

#what-content, #where-content, #who-content {
    text-align: center;
    font-size: 21px;
}

.headline {
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 20px 0 20px 0;
    text-align: center;
}

.headline h1 {
    font-weight: bold;
    font-size: 46px;
}

section article p {
    background-color: #F26C2A;
    padding: 20px;
    color: white;
}

section article div h1 {
    color: white;
    margin: 0px;
    padding: 20px 0 20px 0;
    text-align: center;
}


#predavanja {
    /* background-color: #e8987c;
    width: 600px;
    height: 250px;
    transform: perspective(10px) rotateX(-1deg);
    color: white;
    text-align: center; */
    background-color: #e8987c;
    width: 50%;
    height: 45%;
    color: white;
    text-align: center;
    /* transform: skew(-20deg); */
    margin: 0;
    position: relative;
}

#img1 {
    width: 100%;
    height: 20%;
    border: 5px solid #E56329;
}

#row2 {
    background-color: #e8987c;
    width: 100%;
    height: 20%;
    color: white;
    text-align: center;
    /* transform: skew(-20deg); */
}

#img2 {
    width: 100%;
    height: 20%;
    border: 5px solid #E56329;
}

table {
    transform: skew(-20deg);
    margin-bottom: 100px;
    table-layout: fixed;
    width: 70%;
    margin-left: 15%;
}

table h1 {
    margin-right: 10px;
    font-weight: bold;
    transform: skewX(20deg);
}

table p {
    padding: 0px 30px;
    transform: skewX(20deg);
    font-size: 18px;
}

@media only screen and (max-width: 1330px) {
    .container {
        margin: auto;
        padding: 0px;
        width: 100%;
    }
    .logoTop {
        min-width: 25%;
        margin-left: auto;
        margin-right: auto;
    }

    #what-header, #what-header h1, #what-content, #where-content, #where-content h1, #where-header, #where-header h1, #who-header, #who-header h1, #who-content, .container table, .container h1 {
        left: 0;
        transform: skewX(0deg);
    }
    #where-content, #what-content, #who-content {
        margin: auto;
        width: 90%;
    }
    #what-header, #where-header, #who-header {
        margin: 30px auto auto auto;
    }
    .headline img {
        width: 100%;
    }
}

@media only screen and (max-width: 740px) {

    .logoTop {
        min-width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    #where-content, #what-content, #who-content {
        margin: auto;
        width: 100%;
    }

    table {
        width: 100%;
    }
    table,
    table h1,
    table p {
        transform: skew(0deg);
        margin: auto;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
    }

    table tr:last-child {
        padding-bottom: 10%;
    }
    table td {
        display: block;
    }

    #predavanja {
        width:100%;
    }
    
    #row2 {
        display:flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (min-width: 1351px) {
    .container {
        width: 675px;
    }
}
