@font-face {
    font-family: Googleov;
    src: url(font/ProductSans-Thin.woff);
}

* {
    font-family: Googleov;
    box-sizing: border-box;
}

body {
    background: #6ABDEF ! important;
    color: white !important;
}

.headerLogo {
    max-height: 51px;
}

.mainimg {
    height: 300px;
}

img {
    height: 300px;
    width: 100%;
}

#more {
    display: none;
}

.sideimg {
    height: 200px;
}

#sidebar {
    margin-top: 77px;
    margin-right: 0;
    margin-left: 27px;
    background: #1b3a59;
    /* border-radius: 15px; */
    padding: 20px;
    overflow: auto;
    height: 700px;
}

.sidebar-item:hover {
    background-color: unset !important;
    color: unset !important;
    transform: unset !important;
}

#sidebar li {
    /* border: 1px solid white;
    border-radius: 15px; */
    margin-bottom: 10px;
    padding: 10px;
}

#sidebar li a {
    text-align: center;
    color: white;
    font-size: 24px;
}

#autor {
    text-align: end;
    font-style: italic;
}