*{
	margin: 0;
}
.partneri-container {
	background-color: #4090c4;
	padding-top: 5vh;
}
.thanks-container {
	width: 90%;
	margin: auto;
	color: white;
}
.thanks-logo {
	background: url("../images/partneri_thanks_logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 190px;
}
.thanks-message {
	margin: 4% 0;
	font-weight: bold;
	font-size: 200%;
}
.partner-logo {
	background-size: contain;
	background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) {
	.thanks-message {
		text-align: center;
		font-size: 150%;
	}
}
