@font-face {
    font-family: Googleov;
    src: url(font/ProductSans-Thin.woff);
}

* {
    font-family: Googleov;
}

.navbar {
    background-color: #1B3A59 !important;
    padding: 0% !important;
    height: 70px;
}

.navbar a {
    color: #FFFFFF !important;
    font-size: 25px;
}

.navbar .container-fluid {
    padding: 0% !important;
    margin: 0% !important;
}

.navbar-collapse {
    background-color: #1f5590;
    padding: 10px;
    transform: skewX(-15deg) ;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg);
    min-height: 90px;
}

.navbar-collapse:after {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transform: skewX(15deg); 
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
}

.navbar-brand {
    padding: 8px;
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
    
}

.navbar-nav {
    transform: skewX(15deg);
    -ms-transform: skewX(15deg);
    -webkit-transform: skewX(15deg);
    
    margin:0 auto;
}

.navbar-nav li {
    margin: 0 2rem;
    margin-top: 10px;
}

.navbar-nav li:active {
  background-color: red;
}

.navbar-toggler {
    border: 0.8px solid #FFFFFF !important;
}

.navbar-toggler-icon {
    background-image: url( 
        "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
                
}   

.headerLogo {
    max-width: 51px;
}

.dropdown-menu {
    background-color: #CE2124;
    border-radius: 0; 
}

.dropdown-item:hover {
    background-color: #F85758; 
}

.dropdown-toggle::after {
    display: none;
}


